@font-face {
  font-family: 'Glober';
  src: url("../fonts/globerlight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Glober';
  src: url("../fonts/globerregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Glober';
  src: url("../fonts/globersemibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Glober', sans-serif; }

.page-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 20px;
  width: 100%; }

.menu__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }

.menu__btn {
  position: fixed;
  z-index: 1;
  right: 0;
  margin-right: 11px;
  width: 50px;
  height: 49px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10%;
  outline: none; }
  .menu__btn:active {
    background-color: transparent; }
  .menu__btn::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 9px;
    width: 30px;
    height: 2px;
    background-color: #000000; }
  .menu__btn::before {
    content: " ";
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 9px;
    width: 30px;
    border: 2px solid #000000;
    border-width: 2px 0; }

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding: 0 20px;
  -ms-transform: translateX(-100%);
      transform: translateX(-100%);
  transition: transform 1000ms; }
  .menu-nav--active {
    -ms-transform: translateX(0);
        transform: translateX(0);
    transition: transform 1000ms; }

.menu-list {
  padding: 0;
  list-style: none;
  text-align: center; }
  .menu-list__item {
    padding: 15px 0;
    background-color: #cd2626; }
    .menu-list__item:not(:first-child) {
      border-top: 1px solid #ffffff; }
    .menu-list__item:not(:last-child) {
      border-bottom: 1px solid #8b1a1a; }
  .menu-list__item-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
  .menu-list__dropdown {
    list-style: none; }

.news-bargaining {
  margin-top: 30px; }
  .news-bargaining__caption {
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    border-top: 2px solid #f5f5f5; }
  .news-bargaining__wrapper {
    padding-top: 20px; }

.elem-ad {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 30px; }
  .elem-ad__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 0; }
  .elem-ad__img {
    width: 100%; }
  .elem-ad__status {
    margin-right: 20px;
    padding: 3px 10px;
    font-size: 12px;
    color: #cd2626;
    text-transform: uppercase;
    border: 1px solid #e00;
    border-radius: 5px; }
  .elem-ad__data-time {
    font-weight: 300; }
  .elem-ad__text {
    font-size: 16px; }
    .elem-ad__text--bold {
      font-weight: 700;
      padding-bottom: 10px; }
  .elem-ad__btn-info {
    display: inline-block;
    max-width: 130px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.3px;
    background-color: #e00;
    border-radius: 5px; }
    .elem-ad__btn-info:active {
      background-color: #ff0000; }

.application {
  margin-bottom: 30px; }
  .application__caption {
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: #333333;
    border-top: 2px solid #f5f5f5; }

.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .form__caption-text {
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    color: #333333; }
  .form__field-data {
    margin-bottom: 13px;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Glober";
    color: #333333;
    border: none;
    border-bottom: 3px solid rgba(238, 0, 0, 0.3);
    outline: none; }
    .form__field-data:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__field-data::placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__field-data:focus {
      border-color: #ee0000; }
  .form__field-number-phone {
    margin-bottom: 13px;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Glober";
    color: #333333;
    border: none;
    border-bottom: 3px solid rgba(238, 0, 0, 0.3);
    outline: none; }
    .form__field-number-phone:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__field-number-phone::placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__field-number-phone:focus {
      border-color: #ee0000; }
  .form__message {
    margin-bottom: 13px;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Glober";
    color: #333333;
    border: none;
    border-bottom: 3px solid rgba(238, 0, 0, 0.3);
    outline: none;
    resize: none; }
    .form__message:-ms-input-placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__message::placeholder {
      color: rgba(51, 51, 51, 0.6); }
    .form__message:focus {
      border-color: #ee0000; }
  .form__submit {
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee0000;
    border: none;
    outline: none; }
    .form__submit:active {
      background-color: #ff0000; }

.contacts__caption {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 2px solid #f5f5f5;
  text-transform: uppercase;
  font-size: 24px;
  color: #333333;
  text-align: center;
  letter-spacing: 1px; }

.contacts__item {
  text-align: center; }
  .contacts__item:not(:last-child) {
    padding-bottom: 10px; }

.contacts__item-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #333333; }

.contacts__item-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #cd2626; }
  .contacts__item-link:last-child {
    display: inline-block;
    max-width: 355px; }

.services__item-caption {
  padding: 10px 0;
  color: #333333;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700; }

.services__item-text {
  color: #333333;
  font-size: 18px; }

.services__item-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  max-width: 130px;
  text-align: center;
  letter-spacing: 1.3px; }

.social__list {
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #cd2626; }

.social__item {
  margin-right: 10px; }

.map {
  margin-top: 30px; }
  .map__conteiner {
    width: 100%;
    height: 500px; }

.content-about {
  padding-top: 30px; }
  .content-about__caption {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .content-about__conteiner-img {
    padding-bottom: 15px; }
  .content-about__text {
    color: #333;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }
  .content-about__list-item {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }

.history-company {
  margin-bottom: 100px; }
  .history-company__caption {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .history-company__btn-year {
    display: block;
    width: 100%;
    max-width: 336px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #ee0000;
    outline: none; }
    .history-company__btn-year:active {
      background-color: #ee0000;
      color: #fff; }
  .history-company__text-hide {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in; }
    .history-company__text-hide--active {
      height: auto;
      overflow: visible;
      -ms-transform: none;
          transform: none;
      opacity: 1; }
  .history-company__text {
    font-size: 16px;
    line-height: 26px;
    color: #333333; }
  .history-company__list {
    padding: 0;
    list-style: none; }
  .history-company__list-item {
    font-size: 16px;
    line-height: 26px;
    color: #333333; }

.news {
  padding-top: 50px; }
  .news__btn {
    margin-top: 10px;
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 2px solid #cd2626;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700; }

.news-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.time {
  color: #e00;
  font-weight: 400; }

.text-hide {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in; }
  .text-hide--active {
    height: auto;
    overflow: visible;
    -ms-transform: none;
        transform: none;
    opacity: 1; }
  @media (min-width: 768px) {

  .menu__btn {
    display: none; }

  .menu-nav {
    position: relative;
    -ms-transform: none;
    transform: none;
    transition: none; }

  .menu-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .menu-list__item {
    background-color: transparent; }

  .menu-list__item:nth-child(n) {
    border: none; }

  .menu-list__item-link {
    color: #222222; }

  .menu-list__item-link:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #cd2626; }

  .menu-list__item-link--active {
    padding-bottom: 10px;
    border-bottom: 2px solid #cd2626; }

  .news-bargaining__wrapper {
    display: -ms-flexbox;
    display: flex; }

  .elem-ad {
    width: 100%; }

  .elem-ad:not(:nth-child(3n)) {
    padding-right: 5px; }

  .elem-ad__status {
    font-size: 14px; }

  .elem-ad__data-time {
    font-size: 14px; }

  .elem-ad__text {
    font-size: 14px; }

  .elem-ad__img {
    width: 100%;
    height: auto; }

  .elem-ad__btn-info {
    font-size: 14px; }

  .form {
    position: relative;
    max-width: 728px;
    margin: 30px auto 0 auto;
    padding: 60px;
    border: 8px solid #cd2626; }

  .form__caption-text {
    position: absolute;
    top: -2%;
    left: 50%;
    padding: 10px 20px;
    background-color: #ffffff;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .form__block-btn {
    text-align: center; }

  .form__submit {
    max-width: 336px; }

  .content-about__conteiner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

  .history-company__text-visible {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 15px; }

  .history-company__text-hide {
    display: none;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 15px; }

  .history-company__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start; }

  .news__btn {
    max-width: 336px; }

  .news-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .text-active {
    width: 45%; }

  .text-hide {
    width: 45%; } }
  @media (min-width: 1024px) {

  .page-body {
    padding: 0 28px; }

  .history-company__text-visible {
    width: 50%; } }
  @media (min-width: 1260px) {

  .page-body {
    padding: 0 90px; } }
  @media (min-width: 1920px) {

  .page-body {
    padding: 0 335px; } }
